<!DOCTYPE html>
<html lang="es">
    <!--Head de la página-->
    <%- include('./partials/head') %>
<body>
    <%- include('partials/header') %>
    <div class="container modas-userPanel">
        <div class="mt-3 modas-userPanel-area">
            <div class = "container modas-userPanel-info">
                <div class="container">
                    <div class="row">
                        <div class="col-3 modas-userPanel-menu">
                            <p><strong><a href="/users/account" class="modas-userPanel-link">MI CUENTA</a></strong></p>
                            <ul class="modas-list">
                                <li><a href="/users/account/update" class="modas-userPanel-link">Mis datos</a></li>
                                <li><a href="/users/account/shops" class="modas-userPanel-link">Mis ventas</a></li>
                            </ul>
                        </div>
                        <div class="col">
                            <div>
                                <h1 class="modas-userPanel-title"><i class="fas fa-chevron-right"></i> Mis ventas</h1>
                                <p class="intro" ></p>
                                <p>Aquí podrás ver un resumen de tus ventas y podras aprobarlas para actualizar el stock.</p>
                                <hr>
                            </div>

                            <div>
                                <p class="modas-userPanel-title">VENTAS</p>

                                <table class="table shops">
                                    <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Orden #</th>
                                        <th scope="col">Cliente</th>
                                        <th scope="col">Fecha</th>
                                        <th scope="col">Valor</th>
                                        <th scope="col">Estado</th>
                                        <th scope="col">Pedido</th>
                                        <th scope="col">Confirmar</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <% for(let i=0; i< orders.length; i++){%>
                                        <tr class="fila-<%= orders[i].id %>">
                                            <th scope="row"><%= orders[i].id %></th>
                                            <td><%= orders[i].order_user.email %></td>
                                            <td><%= orders[i].date %></td>
                                            <td>$<%= orders[i].total %></td>
                                            <td><%= orders[i].estado %></td>
                                            <td><button id="<%= orders[i].id %>" type="button" data-toggle="modal" data-target="#myModal" class="view-shop">Ver</button></td> 
                                            <% if(orders[i].estado == 'pendiente'){%>    
                                                <td><button class="finish-shop" id="<%= orders[i].id %>">Compra finalizada</button></td>
                                            <%}%>
                                        </tr>
                                    <%}%>
                                    </tbody>
                                </table>
                                <hr>
                                <div class="modal fade" id="myModal" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h2 class="orden_id"></h2>
                                            </div>
                                            <div class="modal-body p-0">
                                                <table class="table products">
                                                    <thead class="thead-light">
                                                    <tr>
                                                        <th scope="col">Imagen</th>
                                                        <th scope="col">Codigo</th>
                                                        <th scope="col">Talle</th>
                                                        <th scope="col">Precio</th>
                                                        <th scope="col">Unidades</th>
                                                        <th scope="col">Subtotal</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody class="">
                                                        <% for(let j=0; j< order_products.length; j++){%>
                                                            <tr id="<%= order_products[j].orders_id %>" class="tabla-shop">
                                                                <th scope="row"><img class="image-shop-modal" src="/images/products/<%= order_products[j].order_product_product.image %>" alt=""></th>
                                                                <td><%= order_products[j].order_product_product.code_article %></td>
                                                                <% for(let i=0; i < products.length ; i++){%>
                                                                    <% if(products[i].id == order_products[j].order_product_product.id){%>
                                                                        <% if(products[i].products_sizes[0].size_id == products[i].sizes[0].id){%>
                                                                            <td><%= products[i].sizes[0].size %></td>
                                                                            <td><strong>$</strong><%= products[i].price_discount %></td>
                                                                            <td><%= order_products[j].units %></td>
                                                                            <td><%= parseInt(products[i].price_discount,10)*order_products[j].units %></td>
                                                                        <%}%>
                                                                    <%}%>
                                                                <%}%>
                                                            </tr>
                                                        <%}%>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="modal-footer justify-content-between">
                                                <div class="row">
                                                    <p class="total-shop m-auto"></p>
                                                </div>
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Footer de la página-->
    <%- include('./partials/footer') %>
</body>
</html>