<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Emilse | Detalle del producto</title>
        <!-- Font Awesome Stylesheet -->
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	    <!-- Bootstrap Grid Stylesheet -->
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <!-- Own Stylesheet -->
        <link rel="stylesheet" href="/stylesheets/styles.css">
        
        <link rel="stylesheet" href="/stylesheets/index.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
  
    </head>

    <body>
        <div class="container-details">
            <%- include('./partials/header') %>
            <div class="container form-details mt-5">
                <div class="row">
                    <div class="col-2 mt-3 secondary-img d-none d-sm-none d-md-block">
                        <section>
                            <!-- Dejamos como default, al menos 3 imagenes adicionales del producto.
                                En un futuro se recorrera un array con un for-->
                            <div class=""><img src="/images/products/<%= product.image2%>" alt="" height="120" width="80"></div>
                            <div class=""><img src="/images/products/<%= product.image3%>" alt="" height="120" width="80"></div>
                            <div class=""><img src="/images/tablaMedidas.jpg" alt="" height="120" width="80"></div>
                        </section>    
                    </div>

                    <section class="col-12 col-sm-12 col-md-5 mt-3">
                        <div class="main-img">
                            <img class="product-img" src="/images/products/<%= product.image %>" name="<%= product.image %>" class="img-responsive" alt="<%= product.type_cloth %> <%=product.colour %>" height="700px" width="350px">
                        </div>
                    </section>

                    <section class="col-12 col-sm-12 col-md-5 mt-3">
                        <div class ="clothes-main-title">
                            <p id="product-title"> <%= product.title %></p>
                        </div>

                        <div class="">
                            <div id="price-decoration"><p> $ <%= product.price %></p> </div>                      
                            <div id="price"><p> $ <%= product.price_discount %></p></div>
                        </div>

                        <div class="design-to-size" id="price align-left-subtitle">
                            <p> TALLES</p>
                        </div>

                        <div class="row">
                            <div class="form-row align-items-center" id="align-to-size">
                                <div class="col-auto my-1 size-to-botton">
                                    <label class="mr-sm-2" for="inlineFormCustomSelect"></label>
                                        <select class="custom-select mr-sm-2 product-size" id="inlineFormCustomSelect">
                                            <option selected disabled hidden>Talle</option>
                                            <% for( let i = 0; i < productsForArticle.length; i++) { %>
                                                <% for(let j=0; j < sizes.length; j++) { %>
                                                    <% if(productsForArticle[i].size_id == sizes[j].id) { %>
                                                        <option value="<%= sizes[j].id %>">
                                                            <%= sizes[j].size %>
                                                        </option>
                                                    <% } %>
                                                <% } %>
                                            <% } %>
                                        </select>
                                </div>
                            </div>

                            <div class="form-row align-items-center" id="align-to-size">
                                <div class="col-auto my-1">
                                    <input type="number" class="custom-select mr-sm-2 product-quantity" id="inlineFormCustomSelect">
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div id="align-to-shop">
                                <a class ="size-color-icon align-right-icon" target="" href=""><i class="fas fa-share-alt situate-icons"></i></a>
                            </div>

                            <div id="align-to-shop">
                                <% if(typeof session !='undefined'){%>
                                <% if(product.users.length > 0){%>
                                    <a class ="favorite-user size-color-icon align-right-icon" target="" href=""><i style="color:rgb(121, 82, 179);" class="fas fa-heart situate-icons"></i></a>
                                <%}else{%>
                                    <a class ="favorite-user size-color-icon align-right-icon" target="" href=""><i style="color:rgb(0, 0, 0);" class="fas fa-heart situate-icons"></i></a>
                                <%}%>
                                <%}else{%>
                                    <a class ="favorite-user size-color-icon align-right-icon" target="" href=""><i style="color:rgb(0, 0, 0);" class="fas fa-heart situate-icons"></i></a>
                                <%}%>
                            </div>

                            <div class="col-auto my-1 boton-color-add">
                                <button class="btn btn-primary add-to-cart"><p>Añadir al carrito</p></button>
                            </div>

                            <% if (rol == 1) { %>
                            <div class="col-auto my-1 boton-color-add">
                                <a href="/products/edit/<%=product.id%>"><buttonclass="btn btn-primary add-to-cart"><p>Editar</p></button></a>
                            </div>
                            <% } %>
                        </div>

                        <div class="details-secondary-level mt-2">
                            <div><p>Color: <span><%= product.colour%></span></p></div>
                            <div class=""><p>Descripción: <%= product.description_product %></p></div>
                            <div><p>Código del artículo: <span class="product-code"><%= product.code_article%></span></p></div>
                        </div>

                        <div class="other-colour" id="price">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-md-12 mt-12">
                                <% if(productsOtherColors.length > 1) {%>
                                <div id="align-left-subtitle"><p>OTROS COLORES</p></div>     
                                <div class="row">
                                    <% for (product of productsOtherColors) {%>
                                    <div class=""><a href="/products/details/<%=product.id%>"><img src="/images/products/<%= product.image %>" alt="" height="100" width="70"></a></div>                                                   
                                    <%}%>
                                </div>
                                <% } %>
                            </div>                   
                        </div>
                    </section>
                </div>
                
                <!-- Los dejamos como muestra de lo que se vería -->

                <div class="row">
                    <div class="situate-left">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-md-12 mt-12 box-in-middle">
                            <div id="align-center-subtitle"><p>RECOMENDADOS</p></div>                               
                            <div class="row">
                                <% for(let i=0; i< 3 ; i++) { %>
                                <div class=""><a href="/products/details/<%=recomended[i].id%>"><img src="/images/products/<%=recomended[i].image%>" alt="" height="115" width="75"></a></div>
                                <%}%>                            
                            </div>
                            <div class="row">
                                <% for(let i=0; i< 3 ; i++) { %>
                                <div>
                                    <div id="price-decoration"><p>$<%= recomended[i].price%></p></div>
                                    <div><p>$<%= recomended[i].price_discount%></p></div>
                                </div>
                                <%}%>
                            </div>
                        </div>                  
                    </div>

                    <div class="situate-right">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 box-in-middle">
                            <div id="align-center-subtitle"><p>¡HOT SALE!</p></div>
                            <div class="row">
                                <% for(let i=0; i< 3 ; i++) { %>
                                <div class=""><a href="/products/details/<%=hotSale[i].id%>"><img src="/images/products/<%=hotSale[i].image%>" alt="" height="115" width="75"></a></div>            
                                <%}%> 
                            </div>
                            <div class="row">
                                <% for(let i=0; i< 3 ; i++) { %>
                                <div> 
                                    <div id="price-decoration"><p>$<%= hotSale[i].price%></p></div>
                                    <div><p>$<%= hotSale[i].price_discount%></p></div>
                                </div>
                                <%}%> 
                            </div> 
                        </div>                   
                    </div>
                </div>  
            </div>
        </div>

        <%- include('partials/footer')%>
    </body>
</html>