<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Emilse | Detalle del producto</title>
        <!-- Font Awesome Stylesheet -->
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	    <!-- Bootstrap Grid Stylesheet -->
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <!-- Own Stylesheet -->
        <link rel="stylesheet" href="/stylesheets/styles.css">
        
        <link rel="stylesheet" href="/stylesheets/index.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
  
    </head>

    <body>
        <div class="container-details">
            <%- include('./partials/header') %>
            <div class="container form-details">
                <div class="row">
                    <div class="col-2 mt-3 secondary-img d-none d-sm-none d-md-block">
                        <section>
                            <!-- Dejamos como default, al menos 3 imagenes adicionales del producto.
                                En un futuro se recorrera un array con un for-->
                            <div class=""><img src="/images/products/campera-modal.jpeg" alt="" height="120" width="80"></div>
                            <div class=""><img src="/images/products/campera-modal.jpeg" alt="" height="120" width="80"></div>
                            <div class=""><img src="/images/products/default.png" alt="" height="120" width="80"></div>
                        </section>    
                    </div>

                    <section class="col-12 col-sm-12 col-md-5 mt-3">
                        <div class="main-img">
                            <img src="/images/products/<%= product.image %>" class="img-responsive" alt="<%= product.type_cloth %> <%=product.colour %>" height="700px" width="350px">
                        </div>
                    </section>

                    <section class="col-12 col-sm-12 col-md-5 mt-3">
                        <div class ="clothes-main-title">
                            <p id=""> <%= product.type_cloth %> <%=product.colour %> </p>
                        </div>

                        <div class="">
                            <div id="price-decoration"> <p> $ <%= product.price %></p> </div>                      
                            <div id="price"><p> $ <%= product.price_discount %></p></div>
                        </div>

                        <!-- Muestras de los dintos colores de la prenda. Dejamos una imagen como default, porque nuestro arch JSON
                            no contiene estos datos. Dejamos como default la posibilidad de 3, pero se recorrería un array de 
                            muestras con un for-->
                        <div class="row">
                            <div>
                                <img id="circle-cloth" src="/images/products/default.png" alt="muestra de tela" height="65" width="65">
                            </div>
                            <div>
                                <img id="circle-cloth" src="/images/products/default.png" alt="muestra de tela" height="65" width="65">
                            </div>
                            <div>
                                <img id="circle-cloth" src="/images/products/default.png" alt="muestra de tela" height="65" width="65">
                            </div>
                        </div>               

                        <div class="design-to-size" id="price align-left-subtitle">
                            <p> TALLES</p>
                        </div>

                        <div class="row">
                            <div class="form-row align-items-center" id="align-to-size">
                                <div class="col-auto my-1 size-to-botton">
                                    <label class="mr-sm-2" for="inlineFormCustomSelect"></label>
                                        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                            <option selected>Talle</option>
                                            <option value="1">M</option>
                                            <option value="2">L</option>
                                            <option value="3">XL</option>
                                            <option value="4">XXL</option>
                                        </select>
                                </div>
                            </div>

                            <div class="form-row align-items-center" id="align-to-size">
                                <div class="col-auto my-1">
                                    <label class="mr-sm-2" for="inlineFormCustomSelect"></label>
                                        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                            <option selected>Cantidad</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                        </select>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div id="align-to-shop">
                                <a class ="size-color-icon align-right-icon" target="" href=""><i class="fas fa-share-alt situate-icons"></i></a>
                            </div>

                            <div id="align-to-shop">
                                <a class ="size-color-icon align-right-icon" target="" href=""><i class="fas fa-heart situate-icons"></i></a>
                            </div>

                            <div class="col-auto my-1 boton-color-add">
                                <button type="submit" class="btn btn-primary"><p>Añadir al carrito</p></button>
                            </div>
                        </div>

                        <div class="details-secondary-level">
                            <div class=""><p>Descripción:</p></div>
                            <div class=""><p>Material: <%= product.type_cloth %></p></div>
                            <div class=""><p>Código del artículo: <%= product.code_article%></p></div>
                        </div>

                        <div class="complete-look" id="price">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div id="align-left-subtitle"><p>COMPLETA EL LOOK</p></div>
                                <div class="row">
                                    <div class=""><img src="/images/products/default.png" alt="" height="115" width="75"></div>            
                                    <div class=""><a href=""><img src="/images/products/default.png" alt="" height="115" width="75"></a></div>
                                </div>

                                <div class="row">
                                    <div class="container-items">
                                        <div id="price"><p>$ 0.000, 00</p></div>
                                    </div>
                                </div>
                            </div>                   
                        </div>
                    </section>
                </div>
                


            <!-- Los dejamos como muestra de lo que se vería-->

                <div class="row">
                    <div class="situate-left">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 box-in-middle d-none d-sm-none d-md-block">
                            <div id="align-center-subtitle"><p>VISTOS RECIENTEMENTE</p></div>                               
                            <div class="row">
                                <div class=""><img src="/images/products/pict10.jpg" alt="" height="115" width="75"></div>
                                <div class=""><img src="/images/products/pict11.jpg" alt="" height="115" width="75"></div>
                                <div class=""><img src="/images/products/pict12.jpg" alt="" height="115" width="75"></div>                               
                            </div>
                            <div class="row">
                                <div>
                                    <div id="price-decoration"><p>$ 2.999, 99</p></div>
                                    <div><p>$ 2.499, 99</p></div>
                                </div>
                                
                                <div>
                                    <div id="price-decoration"><p>$ 1.299, 99</p></div>
                                    <div><p>$ 899, 99</p></div>   
                                </div>

                                <div>
                                    <div id="price-decoration"><p>$ 1.699, 99</p></div>
                                    <div><p>$ 1.299, 99</p></div>   
                                </div>
                            </div> 
                        </div>                  
                    </div>

                    <div class="situate-right">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 box-in-middle d-none d-sm-none d-md-block">
                            <div id="align-center-subtitle"><p>¡HOT SALE!</p></div>
                            <div class="row">
                                <div class=""><img src="/images/products/pict13.jpg" alt="" height="115" width="75"></div>            
                                <div class=""><img src="/images/products/pict14.jpg" alt="" height="115" width="75"></div>
                                <div class=""><img src="/images/products/pict15.jpg" alt="" height="115" width="75"></div>
                            </div>
                            <div class="row">
                                <div>
                                    <div id="price-decoration"><p>$ 999, 99</p></div>
                                    <div><p>$ 499, 99</p></div>
                                </div>
                                
                                <div>
                                    <div id="price-decoration"><p>$ 1.199, 99</p></div>
                                    <div><p>$ 999, 99</p></div>   
                                </div>

                                <div>
                                    <div id="price-decoration"><p>$ 1.899, 99</p></div>
                                    <div><p>$ 999, 99</p></div>   
                                </div>
                            </div> 
                        </div>                   
                    </div>
                </div>  
            </div>
        </div>

        <%- include('partials/footer')%>
     
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://
        stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
</html>