<!DOCTYPE html>
<html lang="es">
    <!--Head de la página-->
    <%- include('partials/head') %>
<body>
    <%- include('partials/header')%>
    <div class="container login">
        <p class="intro" ></p>
        
        <div class="mt-3 register-area">
            <div class="container login-form">
                <div class="container">
                    <div>
                        <center><h1>Bienvenido!</h1></center>
                        <p class="intro" >Ingresá a tu cuenta para disfrutar de más beneficios</p>
                    </div>
                    <%if(typeof error!='undefined'){%>
                        <center>
                        <p>
                            <ul style="color:red; font-size:1.4rem; list-style: none;">
                                <li>
                                    <%= error %>
                                </li>
                            </ul>
                        </p>
                        </center>
                    <%}%>
                    <%if(typeof errors!='undefined'){%>
                        <center>
                        <p>
                            <ul style="color:red; font-size:1.2rem; list-style: none;">
                                <%for(let i=0;i<errors.length;i++){%>
                                <li>
                                    <%= errors[i].msg %>
                                </li>
                                <%}%>
                            </ul>
                        </p>
                        </center>
                    <%}%>
                    <form action="/users/login" class="row container" method="POST">

                        <div class="col-md-12">
                            <input required type="email" class="col form-control" name="email" id="email" placeholder="Tu correo">
                            <br />
                            <input required type="password" class="col form-control" name="password" id="password" placeholder="Tu contraseña">
                            
                            <center>
                                <input type="checkbox" name="newsletter" id="newsletter"> Recordame
                            </center>
                            <br/>

                            <div class="form-group row">
                                <button type="submit" class="col-12" data-toggle="modal" data-target="#exampleModal">
                                    Iniciar sesión <i class="fas fa-chevron-right"></i><i class="fas fa-chevron-right"></i>
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--Footer de la página-->
    <%- include('partials/footer') %></body>
</html>