<!DOCTYPE html>
<html lang="es">
    <!--Head de la página-->
    <%- include('partials/head') %>
<body>
    <!--Area de administración/alta de artículos-->
    <%- include('partials/header') %>
    <div class="contents-box">
        <div class="container admin">
            <div class="adm-title">
                <h1>Edicion de artículos</h1>
                <img class="logo" src="/images/icons/logo.png" alt="logo-modasemilse" srcset="">
            </div>
            <form action="/products/edit/<%= product.id %>" class="row admin-addproduct" method="POST" novalidate>
                <div class="col-3 admin-addphotos">
                    <div class="card">
                        <input required type="file" id="imagen-producto" name="image" value ='<%= product.image %>' hidden="hidden" accept="image/x-png,image/gif,image/jpeg"/>
                        <img id="custom-button" src="/images/placeholder.png" class="card-img-top" alt="..." title="Selecciona una foto">
                        <div class="photo-menu">
                            <i class="far fa-trash-alt"></i>
                            |
                            <i class="fas fa-camera"></i>
                        </div>
                    </div>
                    <div class="card">
                        <input required type="file" id="imagen-producto" name="image2" value ="<%= product.image2 %>" hidden="hidden" accept="image/x-png,image/gif,image/jpeg"/>
                        <img id="custom-button" src="/images/placeholder.png" class="card-img-top" alt="..." title="Selecciona una foto">
                        <div class="photo-menu">
                            <i class="far fa-trash-alt"></i>
                            |
                            <i class="fas fa-camera"></i>
                        </div>
                    </div>
                    <div class="card">
                        <input required type="file" id="imagen-producto" name="image3"  value ="<%= product.image3 %>" hidden="hidden" accept="image/x-png,image/gif,image/jpeg"/>
                        <img id="custom-button" src="/images/placeholder.png" class="card-img-top" alt="..." title="Selecciona una foto">
                        <div class="photo-menu">
                            <i class="far fa-trash-alt"></i>
                            |
                            <i class="fas fa-camera"></i>
                        </div>
                    </div>
                </div>
                <div class="col-8 admin-form">
                    <div class="form-header">
                        <div class="row form-group new-product-code"> 
                            <label class="col-2" for="codigo">Código |</label>
                            <input required type="text" class="col-2 form-control" id="codigo" name="code_article" value='<%= product.code_article%>'>
                        </div>

                        <div class="sex-select">
                            <% if(product.gender == 'Femenino'){%>
                            <input type="checkbox" name="Femenino"  value ="<%= product.gender %>" id="mujer" checked>Mujer
                            <input type="checkbox" name="Masculino"  value ="<%= product.gender %>" id="hombre">Hombre
                            <input type="checkbox" name="Unisex"  value ="<%= product.gender %>" id="unisex">Unisex
                            <%}%>
                        </div>
                    </div>

                    <div class="form-group row"> 
                        <label class="col-4" for="titulo">Nuevo título</label>
                        <input type="text" class="col form-control" name="title" id="title" placeholder="Titulo del producto" value='<%= product.title %>'>
                    </div>

                    <div class="form-group row"> 
                        <label class="col-4" for="detalle">Descripción</label>
                        <input type="text" class="col form-control" name="description_product" id="detalle" placeholder="Agregar descripción breve" value='<%= product.description_product %>'>
                    </div>

                    <div class="form-group row"> 
                        <label class="col-4" for="tipo">Tipo</label>
                        <input type="text" class="col form-control" name="type" id="tipo" placeholder="Agregar tipo de artículo" value= '<%= product.type_cloth %>'>
                    </div>

                    <div class="form-group row"> 
                        <label class="col-4" for="talles">Talles</label>
                        <input type="number" class="col form-control" name="talle" id="talles" placeholder="Talles disponibles, separar con comas" value= '<%= product.size %>'>
                    </div>

                    <div class="form-group row"> 
                        <label class="col-4" for="colores">Colores</label>
                        <input type="text" class="col form-control" name="colour" id="colores" placeholder="Colores disponibles, separar con comas" value= '<%= product.colour %>'>
                    </div>

                    <div class="form-group row"> 
                        <label class="col-4" for="estampados">Estampados</label>
                        <input type="text" class="col form-control" name="print" id="estampados" placeholder="Ingrese estampados" value="">
                    </div>

                    <div class="form-group row"> 
                        <label class="col-4" for="unidades">Unidades disponibles</label>
                        <input required type="number" class="col form-control" id="unidades" name="unit" placeholder="Ingrese unidades disponibles" value= '<%= product.units %>'>
                    </div>

                    <div class="form-group row"> 
                        <label class="col-4" for="precio-menor">Precio menor</label>
                        <input required type="number" class="col form-control" id="precio-menor" name="price" placeholder="Ingrese precio menor" value= '<%= product.price_discount %>'>
                    </div>

                    <div class="form-group row"> 
                        <label class="col-4" for="precio-mayor">Precio mayor</label>
                        <input required type="number" class="col form-control" id="precio-mayor" name="priceDiscount" placeholder="Ingrese precio mayor" value= '<%=product.price %>'>
                    </div>

                    <div class="form-group row"> 
                        <label class="col-4" for="fecha">Fecha</label>
                        <input type="text" class="col form-control" placeholder="Seleccione una fecha" name="fecha" onfocus="(this.type='date')" onblur="(this.type='text')" value='<%= product.date_up %>'>
                    </div>

                </div>

                <div class="col-12 row form-group admin-form-options">
                    <button type="button" class="col-3">
                        Agregar más fotos
                    </button>

                    <button type="button" class="col-3">
                        <b>Vista previa <i class="fas fa-chevron-right"></i><i class="fas fa-chevron-right"></i></b>
                    </button>

                    <button type="submit" class="col-3">
                        <b>Enviar<i class="fas fa-chevron-right"></i><i class="fas fa-chevron-right"></i></b>
                    </button>
                    <button type="reset" class="col-3">
                        <b>Cancelar <i class="fas fa-times"></i></b>
                    </button>
                </div>
            </form>
            <div class="col-12 text-center">
                <form action="/products/delete/<%= product.id %>" method="POST" style="display: inline-flex">
                    <button type="submit" class="form-group btn btn-danger btn-lg" style="border:0">Eliminar</button>
                </form>
            </div>
        </div>
    </div>
    <!--Footer de la página-->
    <script>
        // Script para boton de carga de imagenes
        const realFileBtn = document.getElementById("imagen-producto");
        const customBtn = document.getElementById("custom-button");

        customBtn.addEventListener("click", function() {
        realFileBtn.click();
        });
    </script>
    <%- include('./partials/footer') %>
</body>
</html>