<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= title %></title>
        <!--Iconos para la pagina-->
        <script src="https://kit.fontawesome.com/a0c0bb4f74.js" crossorigin="anonymous"></script>
        <!--Estilos de la pagina Home-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/index.css">
        <!--Fuentes para toda la pagina-->
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container-store">
        <%- include('./partials/header') %>
        <main>
            <div class="banner-store col-12 p-0">
                <img src="https://d26lpennugtm8s.cloudfront.net/stores/470/339/themes/new_linkedman/slide-1589425602893-200132749-6ade2d925869fd2efbcb27d5fa12228e1589425608.jpg?1176067641" alt="banner de informacion">
            </div>
            <div class="links-products col-12 p-0">
                <ul class="list-links-products">
                <li class="d-block p-1"><a href="/">Inicio</a></li>
                <li class="d-block p-1">></li>
                <li class="d-block p-1"><a href="/products">Tienda</a></li>
                </ul>
            </div>
            <div class="sidebar col-2 d-none d-lg-block">
                <ul>
                    <li><a href="/products/type/camperas">Camperas</a></li>
                    <li><a href="/products/type/pantalones">Pantalones</a></li>
                    <li><a href="/products/type/sacos">Sacos</a></li>
                    <li><a href="/products/type/remeras">Remeras</a></li>
                </ul>
            </div>
            <div class="page-content d-lg-flex">
                <div class="container-photos col-12 col-lg-12">
                    <div class="row col-12 p-lg-0">
                        <h2 class="products-title"><%= titleContent %></h2>
                    </div>
                    <div class="row">
                        <% for (product of products) {%>
                        <div class="card-store col-6 col-sm-4 col-lg-3">
                            <section class="product-box">
                                <a href="#">
                                    <figure class="product-box_image m-0">
                                        <img src="/images/products/<%= product.image[0] %>" alt="imagen de producto">
                                    </figure>
                                    <article class="product-box_data justify-content-md-between">
                                        <h4>$<%= product.price %></h4>
                                        <span><b>$<%= product.priceDiscount %></b><br>Precio por mayor</br></span>
                                        <p><%= product.title %></p>
                                    </article>
                                </a>
                            </section>
                        </div>
                        <%}%>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <!--Script orientado a JQuery que permite capturar el desplazamiento de la barra en pixeles, por el momento no encuentro la equivalencia en porcentaje para que funcione con el mismo valor en cualquier dispositivo-->
    <script>
        $(window).scroll(function() {
          if ($("#menu").offset().top > 120){
              $("#menu").addClass("bg-primary shadow");
          } else {
              $("#menu").removeClass("bg-primary shadow");
          }
        });
    </script>
</body>
</html>