<!DOCTYPE html>
<html lang="es">
    <!--Head de la página-->
    <%- include('./partials/head') %>
<body>
    <%- include('partials/header') %>
    <div class="container modas-userPanel">
        <p class="intro" ></p>
        
        <div class="mt-3 modas-userPanel-area">
            <div class="container modas-userPanel-info">
                <div class="container">
                    <div class="row">
                        <div class="col-3 modas-userPanel-menu">
                            <p><strong><a href="/users/account" class="modas-userPanel-link">MI CUENTA</a></strong></p>
                            <ul class="modas-list">
                                <li><a href="/users/account/orders" class="modas-userPanel-link">Mis pedidos</a></li>
                                <li><a href="/users/account/favorites" class="modas-userPanel-link">Favoritos</a></li>
                                <li><a href="/users/account/update" class="modas-userPanel-link">Mis datos</a></li>
                            </ul>
                        </div>
                        
                        <div class="col">
                            <div>
                                <h1 class="modas-userPanel-title"><i class="fas fa-chevron-right"></i> Resumen</h1>
                                <p class="intro" ></p>
                                <p>Hola, <%= session.nombre %> <%= session.apellido%></p>
                                <p>Aquí podrás ver un resumen de tus compras, así como ver y descargar tus facturas.</p>
                                <hr>
                            </div>

                            <div>
                                <div class="row">
                                    <div class="col">
                                        <p class="modas-userPanel-title">INFORMACION DE LA CUENTA</p>

                                    <ul class="modas-list">
                                        <li><%= session.nombre %> <%= session.apellido%></li>
                                        <li><%= session.email %></li>
                                        <li><a href="#" class="modas-userPanel-link">&raquo; Agregar un teléfono</a></li>
                                    </ul>
                                    </div>
                                    <div class="col">
                                        <p class="modas-userPanel-title">INFORMACION DE FACTURACIÓN</p>

                                    <ul class="modas-list">
                                        <li><a href="#" class="modas-userPanel-link">&raquo; Agregar DNI</a></li>
                                        <li><a href="#" class="modas-userPanel-link">&raquo; Agregar Método de pago</a></li>
                                        <li><a href="#" class="modas-userPanel-link">&raquo; Agregar una dirección de envío</a></li>
                                    </ul>
                                    </div>
                                </div>                                
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Footer de la página-->
    <%- include('./partials/footer') %></body>
</html>